extends ../main

block title
	| Главная страница (main.psd)

block content
	article.content-wrapper
		.container
			.main-title
				| Мобильные телефоны
			.main-content

				include ../_common/_sidebar

				.content
					.sort
					.products
			.attension
				.main-title
					| Важная информация
				.attension__text
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at erat ante. Pellentesque interdum tortor in velit interdum maximus quis quis neque. Integer nec ipsum consequat, pretium dui a, facilisis ante. Integer tortor erat, venenatis sed interdum ut, ultrices id diam. Aenean metus erat, posuere sed lobortis nec, rutrum at libero. In sapien orci, euismod non condimentum nec, mollis non eros. Vestibulum placerat bibendum ultricies. Maecenas dui turpis, imperdiet et sodales vitae, hendrerit et turpis.
					p Quisque ullamcorper sed nibh quis molestie. Aenean ornare velit leo, vel laoreet lorem luctus ut. Nam non euismod nunc, sollicitudin posuere ligula. Etiam mollis, felis non venenatis efficitur, ipsum lectus ultrices neque, vitae semper diam ex ac lectus. In volutpat a metus id rutrum. Duis tempus aliquet ultricies. In at dui nec tellus tempus imperdiet. Etiam dignissim mollis tellus id gravida. Suspendisse lacinia molestie tellus nec condimentum. Phasellus sollicitudin velit nec sapien commodo, condimentum.
					p Pellentesque a diam turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ultricies enim sit amet dictum tincidunt. Donec consequat purus sit amet dapibus molestie. Cras magna eros, placerat et gravida sit amet, sollicitudin quis augue. Duis elementum auctor fermentum. Nunc mi metus, pretium in turpis et, euismod commodo neque. Phasellus ut ex leo. Fusce a quam quis lacus euismod lobortis vel sed purus. Donec ut gravida nulla. Ut ultricies tortor.
					p Morbi efficitur enim eget purus vulputate iaculis. Ut accumsan blandit vulputate. Vivamus elit augue, pretium quis urna sit amet, maximus lacinia arcu. Etiam porta felis iaculis, malesuada eros sit amet, accumsan mi. Nam sed mi iaculis, ultricies enim eu, malesuada tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse eu faucibus est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec dapibus sapien nec laoreet eleifend.
					p Fusce felis diam, ullamcorper at mi vel, placerat auctor tortor. Maecenas mollis diam quam, et tempus quam ullamcorper quis. Integer ac augue vitae tortor congue accumsan eget a nulla. Mauris non imperdiet purus, sit amet sagittis mauris. Sed a mauris sapien. Curabitur blandit turpis mattis ipsum suscipit, vitae sagittis tellus sagittis. Phasellus suscipit ex quis lorem sodales egestas. Phasellus lacinia id diam ac iaculis. Duis id tellus aliquet, euismod metus ac, mollis mi. Nullam fermentum sit amet metus vitae viverra.
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at erat ante. Pellentesque interdum tortor in velit interdum maximus quis quis neque. Integer nec ipsum consequat, pretium dui a, facilisis ante. Integer tortor erat, venenatis sed interdum ut, ultrices id diam. Aenean metus erat, posuere sed lobortis nec, rutrum at libero. In sapien orci, euismod non condimentum nec, mollis non eros. Vestibulum placerat bibendum ultricies. Maecenas dui turpis, imperdiet et sodales vitae, hendrerit et turpis.